.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.video-container {
    display: contents;
}

.variables {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    color:white;
}